@using BrAcademy.Data
@model List<Event>
@{
    ViewData["Title"] = "Events";
  
}
<div class="container" style="background-color:white">
    <h2 style="direction:rtl">@ViewBag.CourseName</h2>

    <table class="table">
        <thead>
            <tr>
            </tr>
        </thead>
    </table>
    <a asp-action="Create" >Create</a>

</div>
