@model BrAcademy.Data.Course

@{
    ViewData["Title"] = "Edit";
}
<link href="~/lib/cropperjs-master/assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/lib/cropperjs-master/dist/cropper.css" rel="stylesheet" />
<link href="~/lib/croppie.css" rel="stylesheet" />

<style type="text/css">
    .croppie-container {
        width: 100%;
        height: 120%;
    }
</style>
<div class="container" style="background-color:white">
    <h1>Edit</h1>

    <h4>Course</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="CourseName" class="control-label"></label>
                    <input asp-for="CourseName" class="form-control" />
                    <span asp-validation-for="CourseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea id="areaDescription" asp-for="Description" class="form-control">

 @Model.Description
</textarea>
                    @*<span asp-validation-for="Description" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="CourseImageUrl" class="control-label"></label>
                    @*<input asp-for="CourseImageUrl" class="form-control" />*@
                    <input type="file" id="CourseImage" accept="image/*" class="form-control" />
                    <input type="hidden" asp-for="CourseImageUrl" />
                    @if (Model.CourseImageUrl!=null)
                    {
                        <img id="imgPreview" src="~/images/Courses/@Model.CourseImageUrl" style="width:100%" />
                    }
                    else
                    {
                        <img id="imgPreview" style="display:none;width:100%" />
                    }

                </div>
                <div class="form-group">
                    <label asp-for="CourseWideImageUrl" class="control-label"></label>
                   
                    <input type="file" id="CourseImageWide" accept="image/*" class="form-control" />
                    <input type="hidden" asp-for="CourseWideImageUrl" />
                    @if (Model.CourseWideImageUrl!=null)
                    {
                        <img id="imgWidePreview" src="~/images/Courses/Wide/@Model.CourseWideImageUrl" style="width:100%" />
                    }
                    else
                    {
                        <img id="imgWidePreview" style="display:none;width:100%" />
                    }

                </div>
                <div class="form-group">
                    <label asp-for="CourseCategoryID" class="control-label"></label>
                    <select asp-for="CourseCategoryID" class="form-control2" asp-items="ViewBag.CourseCategoryID">
                        <option>Select</option>
                    </select>
                    <span asp-validation-for="CourseCategoryID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Active" class="control-label"></label>
                    <input type="checkbox" asp-for="Active" />

                </div>
                <div class="form-group">
                    <label asp-for="HomePage" class="control-label"></label>
                    <input type="checkbox" asp-for="HomePage" />

                </div>
                <div class="form-group">
                    <label asp-for="Duration1" class="control-label"></label>
                    <input asp-for="Duration1" class="form-control" />
                    <span asp-validation-for="Duration1" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Duration2" class="control-label"></label>
                    <input asp-for="Duration2" class="form-control" />
                    <span asp-validation-for="Duration2" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Review" class="control-label"></label>
                    <input asp-for="Review" class="form-control" />
                    <span asp-validation-for="Review" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CountReviewers" class="control-label"></label>
                    <input asp-for="CountReviewers" class="form-control" />
                    <span asp-validation-for="CountReviewers" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="SortIndex" />
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <input type="submit" class="btn btn-outline-dark" value="Events" asp-action="CourseEvents" asp-controller="Events" asp-route-id="@Model.Id" />
                </div>
            </form>

        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <div class="modal fade" id="cropModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width:none;width:850px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crop Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none; background-color: white; font-size: 30px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height:500px">

                    
        <div id="divPreview" style="width:600px"></div>
       


                    <div style="width: 900px">
            <div class="row">
                <div class="col-md-7">
                    <div>
                        <img id="imgCrop" width="360" height="480" asp-append-version="true" />

                    </div>
                </div>
                <div class="col-md-4" style="margin-top:10px">

                    <div>


                        <div id="divPreview" style="width: 200px; height: 200px; border: 1px solid rgb(178,178,178); overflow: hidden; margin: 0 auto; text-align: center" class="img-preview">
                        </div>



                        <table style="display: block">
                            <tr>
                                <td>
                                    X
                                </td>
                                <td>
                                    <input type="text" id="TxtX" name="TxtX" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Y
                                </td>
                                <td>
                                    <input type="text" id="TxtY" name="TxtY" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    W
                                </td>
                                <td>

                                    <input type="text" id="TxtW" name="width" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    H
                                </td>
                                <td>
                                    <input type="text" id="TxtH" name="height" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr style="border-color:#dadada;margin:10px 0" />
                    <div style="padding:10px;margin-bottom:10px">
                        <input type="button" class="btn btn-primary" value="Crop" id="BtnCrop" asp-action="CropCourseImage" asp-controller="Courses" />

                        <input type="hidden" id="hiddenImageName" name="ImageName" />
                        <input type="button" id="btnCancel" class="btn btn-danger" value="Skip Cropping" />
                    </div>

                </div>
            </div>
        </div>


                   
                    


                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
    @*<script src="~/lib/cropperjs-master/dist/cropper.js"></script>*@
   @*<script src="~/lib/croppie.min.js"></script>*@
    <link rel="stylesheet" href="https://unpkg.com/jcrop/dist/jcrop.css">
    @*<script src="https://unpkg.com/jcrop"></script>*@
<script>
        $(function () {

            
            $("#CourseImageWide").change(function () {
                var files = $('#CourseImageWide')[0].files;
                console.log(files[0]);
                var formData = new FormData();

                formData.append(files[0].name, files[0]);
                $.ajax({
                    url: '../../Courses/UploadWideCourseImage',
                    type: 'POST',
                    data: formData,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    complete: function (result) {
                        $("#CourseWideImageUrl").val($.parseJSON(JSON.stringify(result)).responseText);
                        $('#imgWidePreview').attr("src", `../../images/Courses/Wide/${$.parseJSON(JSON.stringify(result)).responseText}`).show();

                    }, error: function (ex) {

                    }

                });
            });
            // $("#areaCkEditor").text("hello!");
            ClassicEditor
                .create(document.querySelector('#areaDescription'))
                .catch(error => {
                    console.error(error);
                });
            //$("#BtnCrop").click(function () {
            //    $.post("../../Courses/CropCourseImage", {
            //        ImageName: $("#hiddenImageName").val(), width: parseInt($('#TxtW').val()),
            //        height: parseInt($('#TxtH').val()),
            //        x: parseInt($('#TxtX').val()),
            //        y: parseInt($('#TxtY').val())
            //        )
            //    }, function (result) {
            //        alert("done!");
            //    });
            //});
            //$("#BtnCrop").click(function () {
            //    $.ajax({
            //        url: "../../ Courses / CropCourseImage",
            //        type: 'POST',
            //        dataType: 'json',
            //        data: { ImageName: $("#hiddenImageName"), width: parseInt($('#TxtW').val()), height: parseInt($('#TxtH').val()) },
            //        cache: false,
            //        processData: true
            //    }).done(function () {
            //        alert();
            //    });
            //});


            //function readFile(input) {
            //    if (input.files && input.files[0]) {
            //        var reader = new FileReader();

            //        reader.onload = function (e) {
            //            $('.upload-demo').addClass('ready');
            //            $uploadCrop.croppie('bind', {
            //                url: e.target.result
            //            }).then(function () {
            //                console.log('jQuery bind complete');
            //            });

            //        }

            //        reader.readAsDataURL(input.files[0]);
            //    }
            //    else {
            //        swal("Sorry - you're browser doesn't support the FileReader API");
            //    }
            //}
            //$uploadCrop = $('#upload-demo').croppie({
            //    viewport: { width: 300, height: 300 },
            //    boundary: { width: 600, height: 400 },
            //    enableExif: true

            //});





            //$('#CourseImage').on('change', function () {
            //    $('#cropModal').modal({ backdrop: "static" })
            //    readFile(this);
            //});
            //$('.upload-result').on('click', function (ev) {
            //    $uploadCrop.croppie('result', {
            //        type: 'canvas',
            //        size: 'viewport'
            //    }).then(function (resp) {
            //        popupResult({
            //            src: resp
            //        });
            //    });
            //});


            //---------------------------------------------My Green Line------------------------------------------------------------------------//
            $("#CourseImage").change(function () {
                var files = $('#CourseImage')[0].files;
                console.log(files[0]);
                var formData = new FormData();

                formData.append(files[0].name, files[0]);
                $.ajax({
                    url: '../../Courses/UploadCourseImage',
                    type: 'POST',
                    data: formData,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    complete: function (result) {
                        //$("#imgCrop").attr("src", `../../images/Courses/${$.parseJSON(JSON.stringify(result)).responseText}`);
                        $("#CourseImageUrl").val($.parseJSON(JSON.stringify(result)).responseText);
                        //$('#cropModal').modal({ backdrop: "static", keyboard: false });

                        $('#imgPreview').attr("src", `../../images/Courses/${$.parseJSON(JSON.stringify(result)).responseText}`).show();
                        //var aspect = 1;
                        //var image = $('#imgCrop')[0];
                        //setTimeout(function () {
                        //    if (aspect != "") {
                        //        var cropper = new Cropper(image, {
                        //            preview: "#divPreview",
                        //            aspectRatio: aspect,
                        //            crop: function (e) {
                        //                $('#TxtX').val(e.detail.x);
                        //                $('#TxtY').val(e.detail.y);
                        //                $('#TxtW').val(e.detail.width);
                        //                $('#TxtH').val(e.detail.height);

                        //            }
                        //        });
                        //    } else {
                        //        var cropper = new Cropper(image, {
                        //            preview: "#divPreview",
                        //            crop: function (e) {
                        //                $('#TxtX').val(e.detail.x);
                        //                $('#TxtY').val(e.detail.y);
                        //                $('#TxtW').val(e.detail.width);
                        //                $('#TxtH').val(e.detail.height);

                        //            }
                        //        });

                        //    }
                        //}, 2000);


                    }, error: function (ex) {
                        // console.log($.parseJSON(JSON.stringify(ex)).responseText);
                        //$("#imgPreview").attr("src", "/images/Courses/" + $.parseJSON(JSON.stringify(ex)).responseText);
                        //$("#CourseImageUrl").val($.parseJSON(JSON.stringify(ex)).responseText);
                        //$("#cropModal").modal({ backdrop: "static ", keyboard: false });
                    }

                });
            });
            //---------------------------------------------End My Green Line------------------------------------------------------------------------//


            //    $('#CourseImage').change(function () {
            //        $('#cropModal').modal({ backdrop: "static" })
            //        $('#Image1').hide();
            //        var reader = new FileReader();
            //        reader.onload = function (e) {
            //            $('#Image1').show();
            //            $('#Image1').attr("src", e.target.result);
            //            $('#Image1').Jcrop({
            //                onChange: SetCoordinates,
            //                onSelect: SetCoordinates
            //            });
            //        }
            //        reader.readAsDataURL($(this)[0].files[0]);
            //    });

            //    $('#btnCrop').click(function () {
            //        var x1 = $('#imgX1').val();
            //        var y1 = $('#imgY1').val();
            //        var width = $('#imgWidth').val();
            //        var height = $('#imgHeight').val();
            //        var canvas = $("#canvas")[0];
            //        var context = canvas.getContext('2d');
            //        var img = new Image();
            //        img.onload = function () {
            //            canvas.height = height;
            //            canvas.width = width;
            //            context.drawImage(img, x1, y1, width, height, 0, 0, width, height);
            //            $('#imgCropped').val(canvas.toDataURL());
            //            $('#btnUpload').show();
            //        };
            //        img.src = $('#Image1').attr("src");
            //    });


            //});
            //function SetCoordinates(c) {
            //    $('#imgX1').val(c.x);
            //    $('#imgY1').val(c.y);
            //    $('#imgWidth').val(c.w);
            //    $('#imgHeight').val(c.h);
            //    $('#btnCrop').show();
            //};
        });
</script>
    }
