@model BrAcademy.Data.Carousel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>Edit</h1>

    <h4>Carousel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <input type="hidden" asp-for="SortIndex" />
                <div class="form-group">
                    <label asp-for="CustomText" class="control-label"></label>
                    <input asp-for="CustomText" class="form-control" />
                    <span asp-validation-for="CustomText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomUrl" class="control-label"></label>
                    <input asp-for="CustomUrl" class="form-control" />
                    <span asp-validation-for="CustomUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomImageUrl" class="control-label"></label>
                    <input type="file" class="form-control" id="uploadCustomImage" />
                    <input type="hidden" asp-for="CustomImageUrl" />
                    @if (Model.CustomImageUrl != null)
                    {
                        <img id="imgPreviewCustom" style="width:100%" src="~/images/Carousels/@Model.CustomImageUrl">
                    }
                    else
                    {
                        <img id="imgPreviewCustom" style="display:none;width:100%">
                    }
                    <img id="imgPreviewCustomUrl" style="display:none;width:100%">
                    <span asp-validation-for="CustomImageUrl" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" asp-items="ViewBag.CategoriesList" class="form-control2">
                        <option>Select</option>
                    </select>
                    @if (Model.CategoryId > 0)
                    {
                        <img id="imgPreviewCategory" style="width:100%" src="~/images/Categories/Wide/@ViewBag.CategoryImage">
                    }
                    else
                    {
                        <img id="imgPreviewCategory" style="display:none;width:100%">
                    }
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseId" class="control-label"></label>
                    <select asp-for="CourseId" asp-items="ViewBag.CoursesList" class="form-control2">
                        <option>Select</option>
                    </select>
                    @if (Model.CourseId > 0)
                    {
                        <img id="imgPreviewCourse" style="width:100%" src="~/images/Courses/Wide/@ViewBag.CourseImage">
                    }
                    else
                    {
                        <img id="imgPreviewCourse" style="display:none;width:100%">
                    }
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">


        $("#uploadCustomImage").change(function () {
            var files = $('#uploadCustomImage')[0].files;
            console.log(files[0]);
            var formData = new FormData();

            formData.append(files[0].name, files[0]);
            $.ajax({
                url: '../../Carousels/UploadCarouselImage',
                type: 'POST',
                data: formData,
                dataType: "json",
                contentType: false,
                processData: false,
                complete: function (result) {
                    $("#CustomImageUrl").val($.parseJSON(JSON.stringify(result)).responseText);
                    $('#imgPreviewCustomUrl').attr("src", `../../images/Carousels/${$.parseJSON(JSON.stringify(result)).responseText}`).show();

                }, error: function (ex) {

                }

            });
        });
        $("#CourseId").change(function () {
            if ($(this).val() > 0) {
                $.get("../../Carousels/CourseImage", { Id: $(this).val() }, function (url) {
                    $("#imgPreviewCourse").attr("src", "../../images/Courses/Wide/" + url);
                    $("#imgPreviewCourse").show();

                });
            } else {
                $("#imgPreviewCourse").hide();
            }
            
        });
        $("#CategoryId").change(function () {
            if ($(this).val() > 0) {
                $.get("../../Carousels/CategoryImage", { Id: $(this).val() }, function (url) {
                    $("#imgPreviewCategory").attr("src", "../../images/Categories/Wide/" + url);
                    $("#imgPreviewCategory").show();
                });
            } else {
                $("#imgPreviewCategory").hide();
            }
        });
    </script>
}