
@{
    ViewData["Title"] = "about_us";
}
<style type="text/css">
    h2 {
        direction: rtl;
    }

   ul {
        list-style: circle;
    }
</style>
<section class="category-header-area" style="background-size: contain; background-repeat: no-repeat; background-position-x: right; background: url(/images/Home-Four-Banner-Background-Image.png)">
    <div class="image-placeholder-1"></div>
    <div class="container-lg breadcrumb-container" style="height: 110px; padding: 20px; ">
        <nav aria-label="breadcrumb" style="direction:rtl">
            <ol class="breadcrumb">
            <li class="breadcrumb-item display-6 fw-bold" style="text-align:center;color:white;text-shadow:0 0 5px white">
            <a href="/"> برايت إيجيبت </a>
        </li>
            
            </ol>
        </nav>
    </div>
    <section class="category-header-area" style="background-color: white; padding-top: 20px;direction:rtl !important;color:black">
        <div class="container-lg">
            <h2>من نحن</h2>
            <p dir="RTL">
                <strong>برايت إيجيبت لتنمية القدرات والحلول المتكاملة </strong>
                شركة تدريب مصرية ذات مسؤلية محدودة مُرخصة حسب القوانين والتعليمات الناظمة
                في جمهورية مصر العربية ، خاضعة لأحكام القانون رقم 159 لسنة 1981
            </p>
            <p dir="RTL">
                <strong>
                    فروعنا: جمهورية مصر العربية (القاهرة والإسكندرية) - اسطنبول - تونس
                </strong>
                ، مُتخصصين في التدريب وتنمية القدرات والمهارات وتقديم الإستشارات والحلول
                المتكاملة للمساهمة الفعالة في بناء وتطوير القدرات والكفاءات لتحقيق تغيير
                أفضل في الأداء والتنمية المستدامة
            </p>
            <p dir="RTL">
                قُمنا بترجمة خبراتنا في مجال التدريب وتنمية القدرات إلى تجاوز الأنظمة
                التقليدية السائدة في هذا المجال من خلال الحرص على التطبيق على أرض الواقع
                ومُطابقة المنهج التدريبي بطبيعة أعمال الجهات المستفيدة حتى نضمن جودة ما
                نقدمه من قيمة مُضافة لعملائنا من تطوير دائم لمنظومة خدمات التدريب العملي
                والمهني ذو مستوى عالمي ومتميز
            </p>
            <p dir="RTL">
                حرصنا على التنوع في خطتنا التدريبية والتخصصات الإستشارية لتغطية الإحتياجات
                الرئيسية للمؤسسات على مستوى القطاعات الحكومية والخاصة وتوفير الخبراء
                والإستشاريين ذوي القدرات المهنية والعلمية والمُرخصين دولياً في شتى
                المجالات
            </p>
            <br clear="all" />
            <h2>
                رؤيتنا
            </h2>

            <ul>
                <li>

                    النهوض بالكوادر البشرية من خلال تقديم سلسلة متكامله من الخبرات والخدمات
                    التدريبية والإستشارية في المجالات المختلفة

                </li>
                <li dir="RTL">
                    المرونة في تصميم الحلول التدريبية بأعلى عائد على الإستثمار
                </li>

            </ul>
            <h2 dir="RTL">
                أهدافنا
            </h2>

            <ul>
                <li>
                    تقديم برامج تدريبية وحلول متكاملة مبنية على أسس واقعية من خلال دراسة
                    الإحتياجات التدريبية والواقع الحالي وماهو المطلوب تطويره مُستقبلياً
                    للمؤسسات
                </li>
                <li>
                    بناء وتطوير القدرات ومهارات العاملين لخدمة كافة القطاعات الحكومية والخاصة
                </li>
                <li>

                    استخدام الحزم والبرامج الحاسوبية بتطبيقاتها المختلفة في ظل عصر التحول
                    الرقمي
                </li>
                <li>
                    ابتكار وسائل تعلم فعّالة من خلال تطبيق آخر ما تم التوصل إليه في مجالات
                    التدريب والإستشارات
                </li>
                <li>
                    نشر مفهوم وثقافة اهمية التدريب والتطوير للعاملين والشركات وتأثيره على
                    أداء الفرد والمؤسسات
                </li>
            </ul>

            <br clear="all" />
            <h2 dir="RTL">
                ما يميزنا
            </h2>

            <ul>
                <li>


                    فــــريق العمــل: مؤسسي شركة برايت إيجيبت لتنمية القدرات والحلول
                    المتكاملة لديهم خبرات تتجاوز الــــ 20 عاماً في مجال التدريب والإستشارات
                </li>

                <li>
                    العميل : أولاً
                </li>
                <li>
                    الإستعانة بنخبة من الخبراء والمدربين المحترفين والإستشاريين في مختلف
                    المجالات والتي تُمكننا من أن نُقدم حلولاً تتناسب مع أعمال واحتياجات
                    المؤسسات
                </li>
                <li>
                    القاعات التدريبية المجهزة بأحدث وسائل التدريب الحديثة
                </li>
                <li>
                    التدريبات العملية والمهنية لصقل المهارات وبناء الجدارات
                </li>
                <li>
                    التدريب في مقر الشركات والمؤسسات ( التدريب التعاقدي -In-House )
                </li>
                <li>
                    تصميم المواد العلمية والحقائب التدريبية على أيدي خبراء مُتخصصين
                </li>
                <li>
                    التدريب الإفتراضي عن بُعد – online من خلال أقوى المنصات الإلكترونية حيث
                    أننا نوفر بيئة إلكترونية فريدة لإدارة المنظومة التدريبية عن بُعد
                </li>
                <li>
                    نُقدم جميع برامجنا التدريبية باللغتين العربية والإنجليزية
                </li>
                <li>
                    المتابعة المستمرة وعملية استقصاء الآراء خلال وبعد عملية التدريب لتعزيز
                    كوننا شركاء في تنمية وتطوير العاملين بالمؤسسات
                </li>
                <li>
                    الشفافية والمصداقية
                </li>
                <li>
                    نُؤمن بتلبية مُتطلبات عملائنا من خلال الفهم الواضح لبيئة العمل لجميع
                    احتياجاتهم وذلك من خلال حلقات نقاشية تتم أثناء عملية تقديم العروض الفنية
                    والمالية لتتوافق مع أهدافهم
                </li>
                <li>
                    السعي لتحقيق الجودة الشاملة على مستوى البرامج والخدمات التدريبية المُقدمة
                </li>
            </ul>

            <br clear="all" />
            <h2 dir="RTL">
                الخدمات التدريبية
            </h2>
            <p dir="RTL">
                يُعد التدريب المهني الإحترافي ضرورة مُلحة للإرتقاء بالقدرات والمهارات التي
                تحتاجها المؤسسات وقد حرصنا على تصميم وتنفيذ البرامج التدريبية ذات الخصوصية
                وتقديم أهم أنماط التدريب كالتالي:-
            </p>

            <ul>
                <li>
                    البرامج التدريبية الحضورية
                </li>
                <li>
                    البرامج التدريبية الإفتراضية
                </li>
                <li>
                    الندوات ، ورش العمل ، المؤتمرات والملتقيات التخصصية
                </li>
            </ul>


            <h2>المجالات التدريبية الرئيسية وفقاً لإحتياجات بيئة العمل</h2>

            <p dir="RTL">
                1 الدبلومات الفنية التخصصية
            </p>
            <p dir="RTL">
                2 الإدارة والقيادة وتطوير الذات
            </p>
            <p dir="RTL">
                3 الإبتكار والتحول الرقمي
            </p>
            <p dir="RTL">
                4 الأمن السيبراني وأمن المعلومات
            </p>
            <p dir="RTL">
                5 المشتريات والمخازن اللوجيستية
            </p>
            <p dir="RTL">
                6 الصيانة والتشغيل والهندسة الفنية
            </p>
            <p dir="RTL">
                7 النفط والغاز
            </p>
            <p dir="RTL">
                8 الهندسة الكهربائية
            </p>
            <p dir="RTL">
                9 المراجعة والتدقيق والرقابة المصرفية
            </p>
            <p dir="RTL">
                10 المحاسبة والمالية
            </p>
            <p dir="RTL">
                11 الموارد البشرية والجدارات والتدريب
            </p>
            <p dir="RTL">
                12 القانوني والقضائي
            </p>
            <p dir="RTL">
                13 إدارة المشاريع والعقود
            </p>
            <p dir="RTL">
                14 الأمن والسلامة والصحة المهنية والبيئية
            </p>
            <p dir="RTL">
                15 العلاقات العامة والإعلام الرقمي
            </p>
            <p dir="RTL">
                16 العقود والمناقصات
            </p>
            <p dir="RTL">
                17 تكنولوجيا المعلومات
            </p>
            <p dir="RTL">
                18 البنوك والتأمين والخدمات المالية
            </p>
            <p dir="RTL">
                19 النقل والعمليات اللوجيستية
            </p>
            <p dir="RTL">
                20 إدارة المكاتب والسكرتارية التنفيذية
            </p>
            <p dir="RTL">
                21 القطاع الأمني
            </p>
            <p dir="RTL">
                22 خدمات الحوسبة السحابية وتوظيفها في إدارة الأعمال ICLOUD -
            </p>
            <p dir="RTL">
                23 المبيعات والتسويق
            </p>
            <p dir="RTL">
                24 إدارة المستشفيات
            </p>
            <p dir="RTL">
                25 شهادات الأيزو الدولية
            </p>
            <h2 dir="RTL">
                قطاع التدريب عن بُعد – Online Training
            </h2>

            نُؤمن بقوة أن التدريب الإلكتروني من خلال إستخدام التكنولوجيا ومنصات التدريب
            الإلكترونية المتطورة هو نهج ممتاز لتطوير وتحسين المعارف والمهارات والقدرات
            بإستمرار وبتكلفة أقل ، ليصبح العاملين بالمؤسسات أكثر فعالية وقدرة على
            التكيف مع المتغيرات في مكان العمل

            <h2 dir="RTL">
                فوائد التدريب عن بُعد – Online Training
            </h2>

            <ul>
                <li>
                    فاعلية التدريب عن بُعد من حيث تقليل الوقت والجُهد الذي يُستغرق في التخطيط
                    لتنفيذ البرامج التدريبية خارج بيئة العمل من خلال إعفاء المتدربين من مشقات
                    التنقل والتقيد بوقت أو مكان محدد للتدريب
                </li>
                <li>
                    تدعيم وتحسين الأداء والإنتاجية من خلال سهولة تنظيم العديد من البرامج
                    التدريبية في مختلف المجالات ومرونة تحديد مواعيد البرامج الأون لاين وفقاً
                    لجدول أعمال المؤسسات
                </li>
                <li>
                    التدريب عن بُعد يُطور قدرة المتدرب على إستخدام الحاسب الآلي والإستفادة من
                    الإنترنت مما يساعده في تطوير وظيفته
                </li>
                <li>
                    التكلفة المنخفضة للتدريب عن بُعد وجعله في متناول كل فرد من أفراد المؤسسة
                    بما يتناسب مع قدراته ويتماشى مع استعداداته
                </li>
                <li>
                    تمكين المؤسسات من مشاركة المعرفة والتطور بشكل أسهل وأسرع
                </li>
                <li>
                    التحرر من العوائق الجغرافية والزمنية، فالتدريب عن بُعد يتم دون وجود عوائق
                    زمانية ومكانية
                </li>
                <li>
                    يُشجع المتدرب على الإعتماد على النفس والوصول إلى مرحلة بناء المعرفة
                    ذاتياً
                </li>
                <li>
                    يسمح للمتدربين بتطوير المهارات التقنية بإستخدام المصادر الإلكترونية
                    والإنترنت في الدراسة والبحث
                </li>
            </ul>
            <br clear="all" />
            <h2 dir="RTL">
                الخدمات الإستشارية
            </h2>
            <strong>
                نظراً لأهمية وضرورة الإستشارات في موضوعات عديدة داخل المؤسسات لإعادة
                البناء التنظيمي فقد حرصنا على تقديم الخدمات الإستشارية في عدة مجالات
                هامة من خلال مجموعة من الخبراء والإستشاريين المُتخصصين في:
            </strong>
            <ul>
                <li>



                    الإستشارات الإدارية والموارد البشرية
                </li>
                <li>
                    الإستشارات المالية
                </li>
                <li>
                    إستشارات تقنية المعلومات
                </li>
                <li>
                    الإستشارات في الأمن السيبراني (Cyber Security)
                </li>
                <li>
                    الإستشارات في حفظ وتخزين البيانات بإستخدام التخزين السحابي (Computer
                    Cloud)
                </li>
                <li>
                    الإستشارات في تركيب وصيانة الأجهزة والشبكات (Installation and Maintenance
                    of Devices and Networks)
                </li>
            </ul>
            <br clear="all" />
            <h2 dir="RTL">
                الخدمات التنظيمية
            </h2>

            <strong> </strong>
            <strong>تصميم وتنفيذ البرامج التدريبية الخارجية ( مصر – </strong>
            <strong>تركيا</strong>
            <strong> </strong>
            <strong>– تونس)</strong>
            <strong></strong>
            <strong></strong>


            <strong> </strong>
            <strong>
                تصميم وتنفيذ البرامج التدريبية الداخلية ذات الخصوصية ( تدريب محلي داخل
                المؤسسات)
            </strong>
            


            <ul>
                <li>
                    <strong>
                        تصميم وتنفيذ البرامج التدريبية عن بُعد	تصميم وتنفيذ البرامج التدريبية عن بُعد – online بما يتوافق مع الإحتياجات التدريبية
                    </strong>
                </li>

                <li>

                    <strong>تصميم وتنفيذ المؤتمرات ( الحضورية – عن بُعد)</strong>
                </li>

                <li>

                    <strong>
                        التقديم للحصول على التأشيرات المصرية والتركية والقيام بإجراءات الإقامة
                        الحكومية طبقاً لقوانين البلد المُنعقد بها البرامج التدريبية وحسب مدة كل
                        برنامج
                    </strong>
                </li>
                <li>

                    <strong>
                        توفير المناخ التدريبي من حيث:
                    </strong>
                    <ol style="list-style: arabic-indic;">
                        <li>


                            القاعات التدريبية مُتضمنة أحدث وسائل وأدوات التدريب الحديثة وأجهزة
                            الحاسب الآلي المتطورة
                        </li>

                        <li>
                            المساعدات والتسهيلات التدريبية بإستقبال ونقل المتدربين من المطار إلى
                            أماكن إقامتهم وكذلك نقلهم بعد إنتهاء البرنامج إلى المطار عند العودة
                            وذلك من خلال سيارات ضيافة حديثة
                        </li>
                        <li>
                            إقامة إحتفالية تخريج خاصة بعد إنتهاء البرنامج التدريبي
                        </li>
                        <li>
                            تنظيم مُميز للرحلات السياحية الترفيهية مع توافر إمكانية للمتدربين
                            بإصطحاب عائلاتهم معهم بأسعار منخفضة
                        </li>
                        <li>
                            تسهيلات الحجوزات الفندقية
                        </li>
                        <li>
                            الخدمات الإضافية للتعاون مثل الإنتقالات بعد مواعيد التدريب للمساعدة في
                            الحجز لدى الأطباء أو إنهاء إجراءات دراسة الأبناء في حالة البرامج
                            التدريبية والدبلومات طويلة المدة أو التوجه إلى مكان لايعرفه المتدربين
                            وذلك حرصاً منا على سلامتهم أثناء فترة إقامتهم داخل بلد إنعقاد البرنامج
                            التدريبي
                        </li>
                </ol>
                </li>

            </ul>

           
               
           




            <h2 dir="RTL">
                منهجية التدريب:-
            </h2>
            <p dir="RTL">
                هدفُنا الرئيسي أن يتم التدريب من أجل التوظيف وأيضاً رفع كفاءة العاملين
                الحاليين والتوجه بهم نحو تطوير المؤسسات
            </p>
            <p dir="RTL">
                تقوم منهجية التدريب لدينا على أسس المشاركة والتفاعل والممارسة العملية
                لمساعدة المتدربين على ترسيخ وتوكيد معارفهم ومهاراتهم التي يكتسبونها خلال
                فترة التدريب والتي من شأنها أن تُحقق الإستفادة القصوى للمتدرب من الناحية
                النظرية والعملية
            </p>
            <p dir="RTL">
                إختيار المحاضرين الأكفاء لتحقيق أهداف التدريب ، ويتم ربط المواد التدريبية
                وأنشطة التدريب بواقع عمل واحتياجات المتدربين
            </p>
            <h2 dir="RTL">
                المنهجيات التدريبية المتنوعة :-
            </h2>
            <p dir="RTL">
                <strong><u>ورش العمل :</u></strong><strong> </strong>يقوم هذا الأسلوب على
                تقسيم أو دمج المتدربين في ثُنائيات أو مجموعات صغيرة للقيام بدور معين عندما
                يتطلب النشاط التدريبي تحقيق فرص مشاركة أو تعاون أكبر بين المتدربين بحيث
                يتعلمون مفاهيم تدريبية معينة أويتبادلون مهارة معينة جديدة
            </p>
            <p dir="RTL">
                <strong><u>المحاكاة</u></strong>: استعراض سيناريوهات شبيهة لحالات عملية
                لتحسين مستوى الوعي في مجال العمل وتطوير المهارات سواء بالجوانب الإدارية أو
                المالية أو الفنية
            </p>
            <p dir="RTL">
                <strong><u>العصف الذهني</u></strong><strong><u> :</u></strong> وفيه يقوم
                المحاضر بتشجيع المشاركين لإبداء آرائهم وأفكارهم بصورة حرة وعفوية عن أحد
                مواضيع التدريب
            </p>
            <p dir="RTL">
                <strong><u>حلقات النقاش</u></strong> : أسلوب للتدريب يُتيح الفرصة لتبادل
                الآراء والأفكار وتوضيحها ويقوم المحاضر بقيادة النقاش وتسهيله من خلال خبراته
                العملية ثم يتم تلخيص النقاش عند انتهائه بواسطة المتدربين لتعزيز الجانب
                العملي وتحديد ما إذا تمت عملية التدريب على النحو المرجو من خلال مشاركة
                المتدربين بفاعلية
            </p>
            <p dir="RTL">
                <strong><u>طرح الأسئلة</u></strong><strong><u> :</u></strong> وهو أسلوب
                شائع في العملية التدريبية نظراً لأهمية الأسئلة في تحقيق الكثير من الأهداف
            </p>
            <p dir="RTL">
                <strong><u>دراسة الحالة</u></strong> : يقوم المحاضر بتزويد المتدربين
                بالمعلومات الخاصة بموقف أو حالة معينة سواء حقيقية أو افتراضية ثم يقوم
                المتدربين بتحليل الأحداث المختلفة والقرارات التي أُخذت لكي يتوصلوا إلى
                تقييم نتائج هذه الحالة
            </p>
            <p dir="RTL">
                <strong><u>العروض المرئية</u></strong>: وسائل مرئية تُدعم آلية التدريب
            </p>
            <p dir="RTL">
                <strong><u>عرض الفيديوهات</u></strong><strong><u> :</u></strong> يتم عرض
                شريط مُصورعلى المتدربين بغرض توضيح مفهوم مُعين أو نظرة عميقة لهذا المفهوم
            </p>
            <p dir="RTL">
                <strong><u>الإستبيانات</u></strong>: إعداد إستبيانات للمتدربين والمحاضرين
                بصورة مُستمرة لقياس الأثر ومدى إستفادة المتدربين ومعرفة آرائهم حول برنامج
                التدريب ومُقترحاتهم لتطوير البرنامج مُستقبلاً
            </p>
            <h2 dir="RTL">
                الشهادات الدولية :-
            </h2>
            <ul>
                <li>
                    تُمنح الشهادات المعتمدة دولياً من كبرى الجامعات والمعاهد الدولية والتي
                    يتم منحها للبرامج التدريبية والدبلومات طويلة المدة ( جامعة دويلاوير
                    الأمريكية – أكاديمية ليدز البريطانية – الإتحاد العربي للتعليم والبحث العلمي
                    )
                </li>
                <li>
                    تُمنح شهادات المشاركة بالبرنامج التدريبي بإعتماد دولي ومحلي والتي يتم
                    منحها بناءً على الحضور المُنتظم بنسبة 85 % فأكثر من مجموع اللقاءات المُخصصة
                    للبرنامج وإجتياز المتدربين للإختبارات الدورية المنعقدة خلال مدة البرنامج
                </li>
                <li>
                    تُمنح شهادات مهنية أخرى لبرامج تدريبية بالتعاون مع جهات مهنية مُتخصصة
                    ومعتمدة ( بُناءً على طلب العميل)
                </li>
            </ul>

        </div>
    </section>
</section>

