@model BrAcademy.Data.CourseCategory

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>Create</h1>

    <h4>CourseCategory</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryImageUrl" class="control-label"></label>
                    <input type="file" id="UploadCategoryImage" accept="image/*"  class="form-control" />
                    <input type="hidden" asp-for="CategoryImageUrl" class="form-control" />
                    <img id="imgPreview" style="width:100%;display:none" />
                    <span asp-validation-for="CategoryImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryWideImageUrl" class="control-label"></label>
                    <input type="file" id="UploadWideCategoryImage" accept="image/*" class="form-control" />
                    <input type="hidden" asp-for="CategoryWideImageUrl" class="form-control" />
                    <img id="imgWidePreview" style="width:100%;display:none" />
                    <span asp-validation-for="CategoryWideImageUrl" class="text-danger"></span>
                </div>
               
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Active" checked="checked" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
    <script src="~/js/CreateCourse.js"></script>
    <script type="text/javascript">


        $("#UploadCategoryImage").change(function () {
            var files = $('#UploadCategoryImage')[0].files;
            console.log(files[0]);
            var formData = new FormData();

            formData.append(files[0].name, files[0]);
            $.ajax({
                url: '../../CourseCategories/UploadCategoryImage',
                type: 'POST',
                data: formData,
                dataType: "json",
                contentType: false,
                processData: false,
                complete: function (result) {
                    $("#CategoryImageUrl").val($.parseJSON(JSON.stringify(result)).responseText);
                    $('#imgPreview').attr("src", `../../images/Categories/${$.parseJSON(JSON.stringify(result)).responseText}`).show();

                }, error: function (ex) {

                }

            });
        });
        $("#UploadWideCategoryImage").change(function () {
            var files = $('#UploadWideCategoryImage')[0].files;
            console.log(files[0]);
            var formData = new FormData();

            formData.append(files[0].name, files[0]);
            $.ajax({
                url: '../../CourseCategories/UploadWideCategoryImage',
                type: 'POST',
                data: formData,
                dataType: "json",
                contentType: false,
                processData: false,
                complete: function (result) {
                    $("#CategoryWideImageUrl").val($.parseJSON(JSON.stringify(result)).responseText);
                    $('#imgWidePreview').attr("src", `../../images/Categories/Wide/${$.parseJSON(JSON.stringify(result)).responseText}`).show();

                }, error: function (ex) {

                }

            });
        });
    </script>
    }