@model BrAcademy.Data.Post

@{
    ViewData["Title"] = "Edit";
}
<style type="text/css">
    .imgPreview,.imgExistingPreview {
        border: 1px solid gray;
        height: 50px;
        margin-right: 5px;
        position: relative;
        display: inline-block;
    }

    .deleteImg {
        position: absolute;
        color: white;
        text-shadow: 0 0 5px #020202;
        top: 0;
        right: 5px;
    }
</style>
<div class="container">
    <h1>Edit</h1>

    <h4>Post</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="CourseId" class="control-label">Course</label>
                    <input type="text" id="txtSearchCourse" value="@ViewBag.CourseName" class="form-control" dir="rtl" />
                    <input type="hidden" asp-for="CourseId" class="form-control" />
                    <input type="hidden" id="hiddenAllCourses" value="@ViewData["AllCourses"]" />
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" rows="3" dir="rtl" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DataDate" class="control-label"></label>
                    <input asp-for="DataDate" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />

                </div>
                <div class="form-group">
                    <label class="control-label">Images</label>

                    <input type="hidden" id="ImagesExistingUrls" name="ImagesExistingUrls" value="@ViewData["ExistingImages"]" />
                    <div id="divImgExistingPreview"></div>
                </div>
                <div class="form-group">
                    <label class="control-label">Upload Images</label>
                    <input id="uploadImages" type="file" multiple class="form-control" accept="image/*" />
                    <input type="hidden" id="ImagesUrls" name="ImagesUrls" />
                    <div id="divImgPreview"></div>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
    <script type="text/javascript">

        $("#divImgExistingPreview").empty();
        var ExistingImages = $.parseJSON($("#ImagesExistingUrls").val());
        $(ExistingImages).each(function (i, img) {
            var imgPreview = $(`<div class="imgExistingPreview" data-name="${img.IconUrl}" data-id="${img.Id}">
        <img style="height:100%" src="../../images/Posts/Icons/${img.IconUrl}"/>
<a class="deleteImg"><span class="fa fa-times"></span></a>
</div>`);
            $("#divImgExistingPreview").append(imgPreview);
        });

        $("#divImgExistingPreview").on("click", ".deleteImg", function () {
            var id = parseInt($(this).closest(".imgExistingPreview").attr("data-id"));
            PleaseWait("show");
            var $this = $(this);
            $.post("../../Posts/DeleteImage", { id: id }, function () {
                $this.closest(".imgExistingPreview").remove();
                PleaseWait("hide");
            });
        });
//-------------------------------------------------------------------------------------------------------
        ClassicEditor
            .create(document.querySelector('#Description'), {
                language: {
                    ui: 'en',
                    content: 'ar'
                }
            })
            .catch(error => {
                console.error(error);
            });
            $('#txtSearchCourse').autocomplete({
                source: $.parseJSON($("#hiddenAllCourses").val()),
                minLength: 2,
                delay: 500,
                select: function (event, ui) {
                    $('#CourseId').val(ui.item.ID);

                }
            });
            $("#uploadImages").change(function () {
                var files = $('#uploadImages')[0].files;
                //console.log(files[0]);
                $("#divImgPreview").empty();
                var imagesOutputList = '';
                for (i = 0; i < files.length; i++) {
                    var formData = new FormData();
                    formData.append(files[i].name, files[i]);
                    PleaseWait("show");
                    $.ajax({
                        url: '../../Posts/UploadPostImage',
                        type: 'POST',
                        data: formData,
                        dataType: "json",
                        contentType: false,
                        processData: false,
                        complete: function (result) {
                            imagesOutputList += `${$.parseJSON(JSON.stringify(result)).responseText},`;
                            var imgPreview = $(`<div class="imgPreview" data-name="${$.parseJSON(JSON.stringify(result)).responseText}">
    <img style="height:100%" src="../../images/Posts/Icons/${$.parseJSON(JSON.stringify(result)).responseText}"/>
<a class="deleteImg"><span class="fa fa-times"></span></a>
</div>`);
                            $("#divImgPreview").append(imgPreview);
                            console.log($.parseJSON(JSON.stringify(result)).responseText);
                            PleaseWait("hide");
                            $("#ImagesUrls").val(imagesOutputList);
                        }, error: function (ex) {
                            //alert(ajaxErrorMessage(ex));
                        }

                    });
                }
            });
            $("#divImgPreview").on("click", ".deleteImg", function () {
                $(this).closest(".imgPreview").remove();
                var imagesOutputList = '';
                $(".imgPreview").each(function () {
                    imagesOutputList += $(this).attr("data-name") + ",";
                });
                $("#ImagesUrls").val(imagesOutputList);
            });


            
      
    </script>
}
